In [1]:
%matplotlib inline
import os
os.chdir("..")
print(os.getcwd())

C:\Users\root\Desktop\practice coding\TechJam2019

In [3]:
import numpy as np
from sklearn.linear_model import LinearRegression

import pandas as pd
import matplotlib.pyplot as plt

import config
import utils.DataMaker as dm

In [4]:
train_income_df, test_income_df, demographic_df, cc_df, kplus_df, train_df, test_df = dm.read_all()

In [5]:
train_df

,income,cc_no,gender,ocp_cd,age,pos_dt,cc_txn_amt,cc_txn_cnt,cc_txn_mean,cc_count,kp_txn_count,kp_txn_amt,kp_txn_mean
id,,,,,,,,,,,,,
1,20000.0,98397,2,9.0,5,2018-02-17,44700.0,5,8940.000000,2,2.0,3500.0,1750.000000
2,106000.0,9740,2,3.0,4,2018-04-14,65200.0,42,1552.380952,2,104.0,210000.0,2019.230769
3,29000.0,3,2,1.0,3,0,0.0,0,0.000000,1,70.0,139700.0,1995.714286
4,61000.0,86813,2,3.0,5,2018-04-10,770000.0,36,21388.888889,2,315.0,6076100.0,19289.206349
5,18000.0,5,2,9.0,4,2018-01-27,12000.0,3,4000.000000,1,0.0,0.0,0.000000
6,19000.0,91379,1,3.0,3,2018-06-30,32000.0,3,10666.666667,2,10.0,13400.0,1340.000000
7,53000.0,74762,1,3.0,5,2018-02-27,41100.0,22,1868.181818,4,277.0,603800.0,2179.783394
8,16000.0,38284,2,9.0,3,2018-05-10,16300.0,7,2328.571429,2,1466.0,804800.0,548.976808
9,19000.0,59701,1,9.0,4,2018-01-28,29000.0,7,4142.857143,3,9.0,4600.0,511.111111
10,17000.0,10,1,3.0,3,0,0.0,0,0.000000,1,43.0,68400.0,1590.697674
11,28000.0,13974,1,9.0,4,2018-02-06,41600.0,11,3781.818182,2,143.0,523600.0,3661.538462
12,31000.0,43077,2,3.0,4,2018-05-03,27000.0,41,658.536585,2,0.0,0.0,0.000000
13,22000.0,100645,2,3.0,3,2018-01-21,9800.0,6,1633.333333,3,22.0,52200.0,2372.727273
14,19000.0,82689,2,3.0,5,2018-01-13,59000.0,29,2034.482759,2,0.0,0.0,0.000000
15,26000.0,52029,2,3.0,3,2018-01-23,19000.0,18,1055.555556,2,0.0,0.0,0.000000
16,13000.0,32855,2,3.0,4,2018-06-03,34100.0,10,3410.000000,3,2.0,20700.0,10350.000000
17,75000.0,17563,2,9.0,3,0,0.0,0,0.000000,2,120.0,393800.0,3281.666667
18,10000.0,65937,1,3.0,4,0,0.0,0,0.000000,2,78.0,96800.0,1241.025641
19,26000.0,101922,1,9.0,4,2018-03-16,32000.0,6,5333.333333,3,0.0,0.0,0.000000
20,11000.0,20,2,9.0,3,2018-04-12,9000.0,1,9000.000000,1,4.0,600.0,150.000000
21,49000.0,70611,2,3.0,3,2018-03-26,43600.0,26,1676.923077,3,90.0,392900.0,4365.555556
22,59000.0,9956,1,3.0,4,2018-05-25,151000.0,145,1041.379310,3,38.0,893800.0,23521.052632
23,33000.0,94738,2,9.0,4,2018-05-10,25800.0,26,992.307692,3,37.0,119000.0,3216.216216
24,25000.0,69194,1,9.0,4,2018-01-01,9000.0,1,9000.000000,2,0.0,0.0,0.000000
25,79000.0,81435,1,9.0,5,2018-06-03,76400.0,21,3638.095238,4,124.0,798700.0,6441.129032
26,29000.0,87342,1,3.0,4,0,0.0,0,0.000000,3,111.0,53300.0,480.180180
27,11000.0,27,2,3.0,5,0,0.0,0,0.000000,1,0.0,0.0,0.000000
28,26000.0,99320,2,9.0,4,2018-01-31,34600.0,8,4325.000000,3,53.0,136600.0,2577.358491
29,14000.0,21809,2,9.0,3,2018-01-29,22600.0,10,2260.000000,2,8.0,61800.0,7725.000000
30,12000.0,30,2,3.0,5,2018-05-14,6000.0,1,6000.000000,1,45.0,2900.0,64.444444
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49971,238000.0,68501,1,4.0,6,2018-03-01,654500.0,27,24240.740741,1,3.0,55000.0,18333.333333
49972,32000.0,68504,2,9.0,3,2018-01-22,19300.0,46,419.565217,1,117.0,113100.0,966.666667
49973,107000.0,68505,2,4.0,5,0,0.0,0,0.000000,1,36.0,1293800.0,35938.888889
49974,26000.0,68506,1,9.0,3,2018-04-07,5300.0,27,196.296296,1,0.0,0.0,0.000000
49975,30000.0,93446,2,3.0,3,2018-01-22,43600.0,10,4360.000000,3,85.0,570700.0,6714.117647
49976,25000.0,91551,1,9.0,3,0,0.0,0,0.000000,2,34.0,137400.0,4041.176471
49977,51000.0,68512,1,9.0,4,0,0.0,0,0.000000,1,2.0,2100.0,1050.000000
49978,36000.0,68513,1,3.0,3,2018-06-29,7900.0,21,376.190476,1,96.0,194900.0,2030.208333
49979,90000.0,68514,1,9.0,4,0,0.0,0,0.000000,1,0.0,0.0,0.000000
49980,13000.0,68516,2,3.0,3,2018-06-15,9200.0,4,2300.000000,1,1.0,4000.0,4000.000000
49981,83000.0,68517,1,3.0,5,2018-06-25,92900.0,33,2815.151515,1,22.0,113000.0,5136.363636
49982,58000.0,95834,1,9.0,4,2018-03-26,17100.0,7,2442.857143,2,90.0,443600.0,4928.888889
49983,48000.0,84567,1,9.0,5,2018-02-14,45200.0,11,4109.090909,3,34.0,65400.0,1923.529412
49984,176000.0,68524,1,3.0,4,2018-04-13,32600.0,14,2328.571429,1,41.0,1020300.0,24885.365854
49985,21000.0,68525,1,3.0,2,0,0.0,0,0.000000,1,14.0,23800.0,1700.000000
49986,41000.0,68526,2,9.0,4,2018-02-18,12900.0,3,4300.000000,1,40.0,285700.0,7142.500000
49987,21000.0,80999,2,9.0,3,2018-03-19,4700.0,8,587.500000,2,57.0,153600.0,2694.736842
49988,20000.0,68529,2,3.0,4,2018-03-02,51200.0,14,3657.142857,1,43.0,64300.0,1495.348837
49989,52000.0,68531,1,3.0,3,2018-06-22,43800.0,32,1368.750000,1,100.0,333200.0,3332.000000
49990,29000.0,68534,2,9.0,4,0,0.0,0,0.000000,1,50.0,108800.0,2176.000000
49991,19000.0,68536,1,3.0,3,2018-05-09,7400.0,5,1480.000000,1,0.0,0.0,0.000000
49992,50000.0,68537,2,3.0,3,2018-06-04,1900.0,4,475.000000,1,20.0,296500.0,14825.000000
49993,43000.0,68539,1,3.0,3,2018-05-26,2900.0,2,1450.000000,1,0.0,0.0,0.000000
49994,29000.0,73582,1,3.0,5,2018-03-22,7000.0,2,3500.000000,2,0.0,0.0,0.000000
49995,132000.0,68542,1,4.0,6,2018-03-02,13700.0,4,3425.000000,1,24.0,89000.0,3708.333333
49996,48000.0,72067,2,3.0,4,2018-04-01,7900.0,5,1580.000000,2,50.0,116500.0,2330.000000
49997,37000.0,71421,1,9.0,5,2018-06-18,3900.0,3,1300.000000,2,244.0,694600.0,2846.721311
49998,19000.0,68545,2,9.0,2,2018-03-20,15100.0,8,1887.500000,1,182.0,388000.0,2131.868132
49999,13000.0,75465,2,3.0,3,2018-06-02,11800.0,2,5900.000000,2,27.0,164500.0,6092.592593
50000,21000.0,68551,1,9.0,5,0,0.0,0,0.000000,1,0.0,0.0,0.000000

In [10]:
ocp_cd_list = sorted(train_df["ocp_cd"].unique())
ocp_cd_list

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 11.0, 12.0, 13.0]

In [40]:
model_dict = {}
for ocp_cd in ocp_cd_list:
    temp_df = train_df[train_df["ocp_cd"] == ocp_cd]
    linear_model = LinearRegression(normalize=True)
    linear_model.fit(temp_df[["age", "kp_txn_mean"]], temp_df["income"])
    model_dict[ocp_cd] = linear_model

In [41]:
def predict_linear(row, model_dict):
    return int(model_dict[row["ocp_cd"]].predict([row[["age", "kp_txn_mean"]]])[0])

In [42]:
test_df["income"] = test_df.apply(predict_linear, args=[model_dict], axis=1)

In [43]:
test_df[["income"]].to_csv("linear_norm_-group_ocp_cd-_-inp_age_kp_txn_mean-.csv")