In [1]:
%matplotlib inline
import os
os.chdir("..")
print(os.getcwd())

C:\Users\root\Desktop\practice coding\TechJam2019

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

import config
import utils.DataMaker as dm

In [3]:
train_income_df, test_income_df, demographic_df, cc_df, kplus_df, train_df, test_df = dm.read_all()

# Train

In [4]:
train_df.head()

,income,cc_no,gender,ocp_cd,age,pos_dt,cc_txn_amt,cc_txn_cnt,cc_txn_mean,cc_count,kp_txn_count,kp_txn_amt,kp_txn_mean
id,,,,,,,,,,,,,
1,20000.0,98397,2,9.0,5,2018-02-17,44700.0,5,8940.000000,2,2.0,3500.0,1750.000000
2,106000.0,9740,2,3.0,4,2018-04-14,65200.0,42,1552.380952,2,104.0,210000.0,2019.230769
3,29000.0,3,2,1.0,3,0,0.0,0,0.000000,1,70.0,139700.0,1995.714286
4,61000.0,86813,2,3.0,5,2018-04-10,770000.0,36,21388.888889,2,315.0,6076100.0,19289.206349
5,18000.0,5,2,9.0,4,2018-01-27,12000.0,3,4000.000000,1,0.0,0.0,0.000000

In [5]:
train_df["age"].value_counts().sort_index()

2      792
3    18974
4    20142
5     8019
6     2073
Name: age, dtype: int64

In [6]:
train_df["income"].count()

50000

# Test

In [7]:
test_df.head()

,cc_no,gender,ocp_cd,age,pos_dt,cc_txn_amt,cc_txn_cnt,cc_txn_mean,cc_count,kp_txn_count,kp_txn_amt,kp_txn_mean
id,,,,,,,,,,,,
1,98397,2,9.0,5,2018-02-17,44700.0,5,8940.000000,2,2.0,3500.0,1750.000000
2,9740,2,3.0,4,2018-04-14,65200.0,42,1552.380952,2,104.0,210000.0,2019.230769
3,3,2,1.0,3,0,0.0,0,0.000000,1,70.0,139700.0,1995.714286
4,86813,2,3.0,5,2018-04-10,770000.0,36,21388.888889,2,315.0,6076100.0,19289.206349
5,5,2,9.0,4,2018-01-27,12000.0,3,4000.000000,1,0.0,0.0,0.000000

In [8]:
test_df["age"].value_counts().sort_index()

2     1094
3    24941
4    25859
5    10426
6     2680
Name: age, dtype: int64

In [9]:
test_df["cc_count"].value_counts().sort_index()

1     39046
2     17096
3      6718
4      1760
5       318
6        52
7         8
8         1
11        1
Name: cc_count, dtype: int64